/* pages/problem/problem.wxss */
.container{
  height: 100%;
  overflow: hidden;
  padding: 0 16rpx;
  box-sizing: border-box;
}
.content{
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  flex-direction: column;
  -webkit-align-items: center;
  -webkit-flex-direction: column;
  height: 100%;
  overflow: hidden;
  font-size: 28rpx;
}
.top{
  flex: 1;
  -webkit-flex:1;
  width: 100%;
  overflow: hidden;
}
.bottom{
  height: 300rpx;
  width: 100%;
}
.q_col{
  color: #df2826;
  
}
.a_col{
  color: green;
}
.a,.q{
  display: flex;
  display: -webkit-flex;
  justify-content: left;
  -webkit-justify-content: left;
  align-items: top;
  -webkit-align-items: top;
  box-sizing: border-box
}
.a .a_col,.q .q_col{
  height: 100%;
  padding-right: 10rpx;
}
.a{
  box-sizing: border-box;
  padding-top: 16rpx;
}
.a .txt{
  color: #999;
}
.line_box{
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
  font-size: 24rpx;
  color: #999
}
.line_box .line{
  height: 2rpx;
  background-color: #e8e8e8;
  flex: 1;
  margin: 20rpx;
}
.is_help_box{
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
  padding: 50rpx 0;
  font-size: 28rpx;
  color: #999;
}
.is_help_box image{
  width: 50rpx;
  height: 50rpx;
  border-radius: 50%;
  margin:  0 20rpx;
  vertical-align: middle;
  margin-top: -8rpx;
  
}
.is_help_box view{
  flex: 1;
  text-align: center;
}
.is_help_box text{
  margin:  0 20rpx;
  line-height: 50rpx;
}
.call_no_help{
  text-align: center;
  font-size: 24rpx;
  color: #999;
}
.call_no_help text{
  color: #242424;
  text-decoration: underline;
}