
.container{
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  -webkit-justify-content: center;
  -webkit-align-items: center;
  -webkit-flex-direction: column;
  height: 100%;
  position: relative;
}
.swiper-tab{  
  border-bottom: 2rpx solid #777777;  
  text-align: center;  
  line-height: 50rpx;
  height: 50rpx;
  box-sizing: border-box;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
  -webkit-justify-content: center;
  -webkit-align-items: center;
  border: 1rpx solid #999;
  border-radius: 25rpx;
  overflow: hidden
}  
.swiper-tab-list{  
  font-size: 30rpx;  
  color: #777777; 
  padding: 0rpx 20rpx; 
}  
.on{ 
  color: #da7c0c;  
  background: #df2846;
}  
  
.swiper-box{ 
  display: block; 
  flex: 1;
  overflow: hidden; 
  width: 100%;
}  
.swiper-box swiper-item{
  height: 100%;
}
.scroll{
  height: 100%;
  overflow: hidden;
}
.fix_bot{
  position: absolute;
  bottom: 0;
}
